[scene="bootscreen"] #TitleScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

[scene="bootscreen"] .txt-wait {
    font-weight: bold;
    background-color: #2069f000;
    border: 0;
    font-size: 0.136em;
    padding: 0.3em;
    color: #fff;
    position: absolute;
    border-radius: 1em;
    bottom: 16%;
}
[scene="bootscreen"] .txt-warning {
    width: 90%;
    font-weight: bold;
    background-color: #2069f000;
    border: 0;
    text-align: center;
    white-space: pre-line;
    font-size: 0.136em;
    color: #fff;
    position: absolute;
    font-family: "Font2";
}

[scene="bootscreen"] #JDLogo {
    width: 60%;
    height: 60%;
    animation: JDBounce 923ms infinite linear;
    object-fit: scale-down;
    opacity: 0;
}

[scene="bootscreen"] .ui-loading {
    bottom: 10%;
}