.hud {
    width: 100%;
    height: 100%;
    display: inline !important;
    transition: opacity 0.2s;
    pointer-events: none;
    z-index: 1;
}

.background {
    display: none;
}

.hud:not(.show) {
    opacity: 0;
}

#in-game-video {
    opacity: 1;
}

#racetrack {
    display: block;
    position: absolute;
    height: 3.2em;
    width: 0.5em;
    bottom: 1em;
    left: .3em;
}

#racetrack .raceline-bkg {
    background-color: #00000051;
    border: 0.0003em solid #ffffff51;
    height: 100%;
    width: 0.2em;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 0.05em;
    mask: linear-gradient(to bottom, #0000, #000 30%);
    -webkit-mask: linear-gradient(to bottom, #0000, #000 30%);
    transition: all .2s;
}

#racetrack .player1 {
    background-color: #6200ff;
    height: 100%;
    width: 0.18em;
    bottom: 0.015em;
    right: 0.02em;
    position: absolute;
    border-radius: 0.04em;
    /* margin: 0.0205em; */
    transition: all .5s;
}

#debugger {
    z-index: 99;
    font-size: 0.2em;
    color: #fff;
    position: absolute;
    white-space: pre-line;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.25);
}

#debugger .filler {
    display: none;
}

#pictos {
    z-index: 3;
    width: 19.6%;
    height: 21%;
    position: absolute;
    bottom: 5.3%;
    right: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.25);
    transition: .2s all !important;
}

#lyrics {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0.2em;
    left: 0;
    font-family: Font2;
    font-size: 0.157em;
    left: 5.1%;
    bottom: 3.4em;
    font-weight: bolder !important;
    letter-spacing: 0.02em;
    text-align: left;
    justify-content: left;
}

#lyrics:has(.line.current) #beat {
    opacity: 1;
}

#lyrics .line {
    display: flex;
    white-space: pre;
    z-index: 1;
    top: 0;
    left: 0;
    position: relative;
    will-change: width;
    float: left;
}

#lyrics .line .fill {
    position: relative;
    float: left;
    white-space: pre;
    font-weight: normal;
}


#lyrics .line .filler {
    text-shadow: 0.045em 0.045em 0.04em #00000070 !important;
    width: 100%;
    overflow: hidden;
    transition: width;
    will-change: width;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-timing-function: linear;

}

#lyrics .line .fill.filled {
    background-image: linear-gradient(90deg, var(--menu-color) 100%, #ffffff00 100%);
    background-size: 100% 100%;
    transition: background-size linear 200ms;
}
#lyrics .line.previous .fill {
    background-image: linear-gradient(90deg, var(--menu-color) 100%, #ffffff00 100%);
    background-size: 100% 100%;
    transition: none!important;
}

#lyrics .line .fill:not(.filled) {
    transition: background-color 200ms !important;
}

#lyrics .line .fill {
    background-color: #888;
    background-image: linear-gradient(90deg, var(--menu-color) 0%, #fff 0%);
    background-size: 0% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    will-change: background, background-size;
}

#lyrics .line.current .fill,
#lyrics .line.previous .fill {
    background-color: #d9d9d9fa;
}

#lyrics .line.current,
#lyrics .line.previous {
    opacity: 1;
    z-index: 2;
    transform: translateY(-101%);
}

#lyrics .line {
    display: block;
    position: absolute;
    color: #888;
    will-change: color, transform, opacity;
    left: auto;
}

#lyrics .line.next {
    opacity: 1.0;
    -webkit-animation: nextLineInf 0.28s;
    animation: nextLineInf 0.28s !important;
    margin-top: 0.13% !important;
    transform: translateY(0.3em) perspective(0px) rotateX(0deg);
}

#lyrics .line.current {
    transition: .2s all, .1s color !important;
    opacity: 1;
}

#lyrics .line.previous {
    transition: .07s opacity !important;
    transition-delay: .01s !important;
    opacity: .0;
}

#lyrics .line.hidden {
    visibility: hidden;
}

#lyrics .line.previous.show {
    opacity: 1;
}

#lyrics.two-line .line {
    width: 100%;
    display: flex;
}

#lyrics.two-line #beat {
    display: none !important;
    opacity: 0 !important;
}

#lyrics.two-line .line[even="true"] {
    float: left;
    justify-content: flex-end;
    transform: none !important;
    right: 4em;
    top: 1em;
}

#lyrics.two-line .line[even="false"] {
    float: right;
    justify-content: flex-start;
    transform: none !important;
    left: 4em;
    top: -1em;
}

#lyrics.two-line {
    font-size: 0.277em;
}

#lyrics.one-line .line.next,
#lyrics.one-line #beat {
    opacity: 0 !important;

}

#lyrics.one-line .line.current {
    transition: opacity 0.1s, color 0.1s !important;
}

#lyrics.one-line {
    transform: scale(1.1) translateY(2em);
}

#lyrics.no-animation * {
    transition: none !important;
    animation: none !important;
}

#beat {
    width: 0.86em !important;
    height: 4.5% !important;
    bottom: -3% !important;
    left: -0.88em;
    background: var(--menu-color, #fff);
    border-radius: 200rem;
    border-bottom: none;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
    position: absolute;
}

#beat-grad {
    width: 0.86em !important;
    height: 100% !important;
    bottom: -3% !important;
    left: -0.88em;
    background: linear-gradient(to bottom, #0000, var(--menu-color, #fff) 90%);
    border-radius: 0rem;
    border-bottom: none;
    opacity: .5;
    visibility: visible !important;
    display: block !important;
    position: absolute;
    transform: scaleX(0.95);
    animation-timing-function: linear;
}

html:not(.ipad) .hud.beat>#pictos>#beat {
    -webkit-animation-name: BeatCoach !important;
    animation-name: BeatCoach !important;
}

html:not(.ipad) .hud.beat.even>#pictos>#beat-grad {
    animation-name: BeatCoachFade;
}

.picto {
    display: block;
    height: 1.35em;
    width: 1.35em;
    left: -1.12em;
    bottom: 0.03em;
    filter: drop-shadow(.16rem .14rem .01rem #0000006d);
    position: absolute;
    transform-origin: bottom;
    background-image: radial-gradient(#fff 0%, #0000, 100%);
}

#pictos.multi-coach {
    width: 30.6%;
}

#pictos.multi-coach .picto {
    height: 1.41em;
    width: 2.07703125em;
    left: -46.5%;
    
}

#pictos .picto .texture {
    width: 100%;
    height: 100%;
    display: block;
    transform: scale(0.99);
    text-align: center;
    transform-origin: bottom;
    will-change: transform;
}

.hud.even #pictos .picto .texture {
    animation: BeatPictos .35s !important;
}

@keyframes BeatPictos {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(0.945678);
    }

    100% {
        transform: scale(1.);
    }
}

@keyframes PictosScroll {
    0% {
        transform: translateX(4.7em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes PictosScrollSolo {
    0% {
        transform: translateX(3.9em);
    }

    100% {
        transform: translateX(0em);
    }
}

@keyframes PictosHide {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.12);
        opacity: 0;
    }
}

@keyframes nextLineInf {

    0%,
    20% {
        opacity: 0;
        transform: translateY(1.3em);
    }

    40% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0.3em);
    }
}

@keyframes BeatCoach {
    100% {
        opacity: 1 !important;
        transform: scale3d(1., 1, 1);
    }

    5% {
        opacity: 1 !important;
        transform: scale3d(1.12, 1, 1);
    }

    0% {
        opacity: 1 !important;
        transform: scale3d(1., 1, 1);
    }
}

@keyframes BeatCoachFade {
    100% {
        opacity: .5;
    }

    5% {
        opacity: 1;
    }

    0% {
        opacity: .5;
    }
}

#goldmove {
    position: absolute;
    z-index: 1;
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
}

#goldmove.getReady .layer {
    animation: getReadyGM 1.7s linear;
}

#goldmove.Explode .layer {
    animation: ExplodeGM 1.3s linear;
}

#goldmove .layer {
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url(../../../assets/texture/ui/screen_halo.webp);
    opacity: 0;
    background-position: center;
    background-size: 100% 100%;
}

#goldmove .layer-3 {
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/texture/ui/starfield_2.png), url(../../../assets/texture/ui/starfield_2.png);
    background-position: center;

}

#goldmove.Explode .layer-3 {
    animation: starExplode 1.5s linear;
    opacity: 0
}

#goldmove.getReady .layer-3 {
    animation: starjoin 2s linear;

}

.currentMoves0 {
    animation: bounce .3s ease-in-out;
    -webkit-animation: bounce .3s ease-in-out;
}

@keyframes getReadyGM {
    0% {
        transform: scale(1.4);
        opacity: 0;
    }

    30% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes ExplodeGM {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }

    30% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes starjoin {
    0% {
        opacity: 1;
        background-size: 120% 120%, 100% 100%;
    }

    100% {
        opacity: 0;
        background-size: 90% 90%, 80% 80%;
    }
}

@keyframes starExplode {
    0% {
        opacity: 0;
        background-size: 100% 100%, 90% 90%;
    }

    10% {
        opacity: 1;
    }

    100% {
        background-size: 120% 120%, 150% 150%;
    }
}

@keyframes bounce {
    0% {
        color: #f79000;
    }

    100% {
        color: #fff;
    }
}

/* PAUSESCREEN */
#pausescreen {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 4;
    position: absolute;
    background-color: #111111de;
    color: #fff;
    -webkit-animation: FadeIn .5s;
    animation: FadeIn .5s;
}

.txt-pause {
    font-size: 0.33em;
    width: 100%;
    display: block;
    position: absolute;
    left: auto;
    right: auto;
    text-align: center;
    top: 3em;
}

.itempause {
    width: 1.4em;
    height: 1.8em;
    top: 0;
    display: inline-block;
    transform: scale(0.8);
}

.song--decoration {
    width: 100%;
    height: 80%;
    padding: 0.09em;
    position: relative;
    box-sizing: border-box;
}

.list-wrapper {
    top: 38%;
    width: 100%;
    height: 40%;
    display: block;
    position: relative;
    /* overflow: scroll; */
    box-sizing: border-box;
}

.itempause.selected {
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.songlist-container::-webkit-scrollbar {
    display: none;
}

.songlist-container {
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: center;
}

.itempause .song-title {
    color: #fff;
    width: 100%;
    font-size: 0.17em;
    position: relative;
    padding-left: 0.6em;
    padding-right: 0.6em;
    z-index: 3;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden
}

.itempause img {
    width: 100%;
    height: 100%;
    border-radius: 0.13em;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    background-color: #00000073;
}

.itempause .song--decoration::after {
    content: '';
    width: 92%;
    height: 92.4%;
    position: absolute;
    border: 0.03em solid rgb(0, 98, 255);
    border-radius: 0.2em;
    display: block;
    z-index: 1;
    top: 2%;
    left: 2%;
    transition: opacity .2s, transform .2s .2s;
    transform: scale(1.1);
    opacity: 0;
    will-change: transform, opacity, border;
    -webkit-transition: opacity .2s, transform .2s .2s;
    -moz-transition: opacity .2s, transform .2s .2s;
    -ms-transition: opacity .2s, transform .2s .2s;
    -o-transition: opacity .2s, transform .2s .2s;
}

.itempause.exit .song--decoration::after {
    color: red
}

.itempause.choosed .song--decoration::after {
    -webkit-animation: selectedbounce 1s;
    animation: selectedbounce 1s;
    border: 0.03em solid #0eaedf;
}

.itempause.selected .song--decoration::after {
    opacity: 1;
    transform: none;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}


#coachselection {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    background-image: url(../../../assets/texture/ui/jdbg.png);
    background-size: 100% 100%;
}

#coachselection .banner-bkg {
    width: calc(100% - 0.1em);
    height: 83%;
    background: linear-gradient(to bottom, #00000051, #ffffffcc, #00000051);
    margin: 0.05em;
    box-sizing: border-box;
    border-radius: 0.1em;
    background-size: cover;
    background-color: #000;
}

#coachselection .button--continue {
        width: 4em;
        height: 0.9em;
        overflow: hidden;
        background: blue;
        color: #fff;
        font-size: 0.5em;
        text-align: center;
        position: absolute;
        display: flex;
        border-radius: 1em;
        bottom: 3.6%;
        right: 4%;
        align-items: center;
        justify-content: center;
        display: none;
}
#coachselection .txt-dance {
    font-size: 0.4em;
}
#coachselection .txt-loading {
    font-size: 0.16em;
    position: absolute;
    right: 10%;
    bottom: 6%;
    font-family: 'Font1';
    color: lightblue;
}